body, html {
    margin:0;
    padding:0;
    background-image: url("./bg.jpg");
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin:0;

}
.Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0
    

}

.boxContainer {
    width: 100vw;
    display : flex;
    flex-direction: row;
    justify-content: space-evenly;
  


}

.turnBox {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    min-height : 50vh;
    /* background-color:lightcoral; */
    border: 5px solid black;
}
  
.img {
    height : 40vh;
}

.selectorImage {
    
    margin: 10px 5px;
    box-sizing: border-box;
}
.selectorImage:hover {
 /* background-color: red; */
 border: 3px solid darkgreen;
 background-color: greenyellow;
}

h3 {
    margin:0
}

.bg {
    background-color: rgba(204, 209, 139, 0.61);
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    /* color: red; */
}